<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSP_4155</display-name>
 
  <servlet>
  	<servlet-name>jspconfig</servlet-name>
  	<jsp-file>/configuser.jsp</jsp-file>
    
  	<init-param>
  		<param-name>loginusername</param-name>
  		<param-value>scott</param-value>
  	</init-param>
  </servlet>
  

  
  
  <servlet>
  		<servlet-name>applicationobject</servlet-name>
  		<jsp-file>/applicationObject.jsp</jsp-file>
   </servlet>
  
  <servlet-mapping>
  		<servlet-name>applicationobject</servlet-name>
  		<url-pattern>/applicationObject</url-pattern>
  </servlet-mapping>
  
  <context-param>
  		<param-name>password</param-name>
  		<param-value>scottadmin</param-value>
  </context-param>
  
  
</web-app>